streamlit
python-dotenv
langchain>=1.0.5
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
PyPDF2
sentence transformers
faiss-cpu
huggingface-hub
google-generativeai

