streamlit
python-dotenv
langchain-text-splitter
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
PyPDF2
faiss-cpu
sentence-transformers
huggingface-hub
google-generativeai
langchain


